{% load static %} 

<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PENSight - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@400;700&display=swap" rel="stylesheet">
    <style>
        /* Warna slider track */
        input[type="range"]::-webkit-slider-runnable-track {
            background: transparent;
            height: 13px;
            border-radius: 10px;
        }

        /* Warna slider thumb (bulatan yang bisa digeser) */
        input[type="range"]::-webkit-slider-thumb {
            appearance: none;
            width: 24px;
            height: 24px;
            background: #0a3d83;
            border-radius: 50%;
            margin-top: -6px;
            cursor: pointer;
        }

        /* Untuk Firefox */
        input[type="range"]::-moz-range-thumb {
            width: 18px;
            height: 18px;
            background: #ff5722;
            border-radius: 50%;
            cursor: pointer;
        }
    </style>
</head>

<body class="h-screen flex flex-col bg-[radial-gradient(circle,_#3137cd_10%,_#f1eae7_100%)]">    
    <!-- Header    -->
    <header class="w-full p-8 bg-[#464bd0] font-bold text-lg shadow-md font-sans flex gap-3">
        <img src="{% static 'icon_page.svg'%}" class="w-20 h-auto" alt="Icon"> 
        <span class="text-3xl text-[#d9d9d9]">Hai Sobat PENSeek!!</span>
    </header>   

    <div class="flex">
        <div class="flex-1 mt-20">
            <!-- Minat -->
            <div class="flex items-center mt-4 ml-12">
                <span class="text-4xl font-[Alexandria] text-[#0a3d83]">Minat</span>
                <svg class="ml-2 w-10 h-10" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#0a3d83">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M12 17V11" stroke="#0a3d83" stroke-width="1.8" stroke-linecap="round"></path>
                        <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="#0a3d83"></circle>
                        <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="#0a3d83" stroke-width="1.8" stroke-linecap="round"></path>
                    </g>
                </svg>
            </div>    
            <div class="mt-6 ml-20 flex flex-wrap gap-4">
                <!-- Tag -->
                <div class="flex items-center px-4 py-2 rounded-full border-2 border-[#0a3d83] text-[#0a3d83] font-semibold bg-white shadow-md">
                    Makan
                    <button class="ml-2 w-6 h-6 flex items-center justify-center bg-[#0a3d83] text-white rounded-full">×</button>
                </div>
                <div class="flex items-center px-4 py-2 rounded-full border-2 border-[#0a3d83] text-[#0a3d83] font-semibold bg-white shadow-md">
                    Tidur
                    <button class="ml-2 w-6 h-6 flex items-center justify-center bg-[#0a3d83] text-white rounded-full">×</button>
                </div>
                <div class="flex items-center px-4 py-2 rounded-full border-2 border-[#0a3d83] text-[#0a3d83] font-semibold bg-white shadow-md">
                    Mancing 
                    <button class="ml-2 w-6 h-6 flex items-center justify-center bg-[#0a3d83] text-white rounded-full">×</button>
                </div>
            </div>
            <hr class="w-3/4 mx-auto my-8 rounded-full border-0 h-1 bg-[#0a3d83]"> 
            <!-- Bakat -->
            <div class="flex items-center mt-4 ml-12">
                <span class="text-4xl font-[Alexandria] text-[#0a3d83]">Bakat</span>
                <svg class="ml-2 w-10 h-10" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#0a3d83">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M12 17V11" stroke="#0a3d83" stroke-width="1.8" stroke-linecap="round"></path>
                        <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="#0a3d83"></circle>
                        <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="#0a3d83" stroke-width="1.8" stroke-linecap="round"></path>
                    </g>
                </svg>
            </div>
            <div class="mt-6 ml-20 flex flex-wrap gap-4">
                <!-- Tag -->
                <div class="flex items-center px-4 py-2 rounded-full border-2 border-[#0a3d83] text-[#0a3d83] font-semibold bg-white shadow-md">
                    Gitaris
                    <button class="ml-2 w-6 h-6 flex items-center justify-center bg-[#0a3d83] text-white rounded-full">×</button>
                </div>
                <div class="flex items-center px-4 py-2 rounded-full border-2 border-[#0a3d83] text-[#0a3d83] font-semibold bg-white shadow-md">
                    Pelukis
                    <button class="ml-2 w-6 h-6 flex items-center justify-center bg-[#0a3d83] text-white rounded-full">×</button>
                </div>
                <div class="flex items-center px-4 py-2 rounded-full border-2 border-[#0a3d83] text-[#0a3d83] font-semibold bg-white shadow-md">
                    Nyantet
                    <button class="ml-2 w-6 h-6 flex items-center justify-center bg-[#0a3d83] text-white rounded-full">×</button>
                </div>
            </div>
            <hr class="w-3/4 mx-auto my-8 rounded-full border-0 h-1 bg-[#0a3d83]">         
            <!-- Rata-rata Nilai -->
            <div class="flex items-center mt-4 ml-12">
                <span class="text-4xl font-[Alexandria] text-[#0a3d83]">Rata-rata Nilai</span>
                <svg class="ml-2 w-10 h-10" viewBox="-2.4 -2.4 28.80 28.80" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#0a3d83">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                        <path d="M12 17V11" stroke="#0a3d83" stroke-width="1.8" stroke-linecap="round"></path>
                        <circle cx="1" cy="1" r="1" transform="matrix(1 0 0 -1 11 9)" fill="#0a3d83"></circle>
                        <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="#0a3d83" stroke-width="1.8" stroke-linecap="round"></path>
                    </g>
                </svg>
            </div>   
            <div class="p-6">
                <label for="range-slider"></label>
                
                <!-- Slider -->
                <input id="range-slider" type="range" min="0" max="1000" value="500"
                    class="w-5/6 h-3 mt-6 ml-20 border-0 rounded-full appearance-none cursor-pointer"
                    oninput="updateValue(this.value)"> 
                
                <!-- Menampilkan nilai slider -->
                <div class="flex justify-between mt-2 font-bold text-black">
                    <span class="ml-20">0</span>
                    <span id="slider-value" class="font-bold text-blue-900 ml-2">500</span>
                    <span class="mr-12">1000</span>
                </div>
            </div>
            <hr class="w-3/4 mx-auto my-8 rounded-full border-0 h-1 bg-[#0a3d83]">
            <!-- Tombol Submit -->
            <button type="button" class="mt-20 flex flex-col items-center bg-white mx-auto text-[Alexandria] text-[#0a3d83] px-8 py-4 rounded-full w-80 text-2xl font-bold outline outline-2 outline-[#0a3d83]] outline-offset-2 hover:bg-blue-700 hover:outline-blue-500">
                <a href="{% url 'result_page' %}">BERI REKOMENDASI</a>
            </button>
        </div>

        <div class="flex-1 mt-20">
            <!-- Kuota Program Studi -->
            <div class="flex items-center mt-4 ml-12">
                <span class="text-4xl font-[Alexandria] text-[#0a3d83]">Kuota Program Studi ( SNBP )</span>
            </div> 
            <!-- List Kuota dan Presentase -->
            <div class="ml-16 mr-32 mt-14 space-y-6 h-fit bg-white px-4 py-6 rounded-3xl">
                <div>
                    <div class="flex">
                        <p class="flex-1 font-semibold text-left ml-2">Sains Data Terapan (50/90)</p>
                        <p class="flex-1 font-semibold text-right mr-4">55%</p>
                    </div>
                        <div class="mt-2 w-full bg-gray-300 rounded-full overflow-hidden">
                        <div class="bg-red-500 h-10 rounded-full" style="width: 55%;"></div>
                    </div>
                </div>
                <div>
                    <div class="flex">
                        <p class="flex-1 font-medium text-left ml-2">Teknik Elektronika (90/120)</p>
                        <p class="flex-1 font-medium text-right mr-4">70%</p>
                    </div>
                        <div class="mt-2 w-full bg-gray-300 rounded-full overflow-hidden">
                        <div class="bg-yellow-500 h-10 rounded-full" style="width: 70%;"></div>
                    </div>
                </div>
                <div>
                    <div class="flex">
                        <p class="flex-1 font-medium text-left ml-2">Teknik Komputer (37/60)</p>
                        <p class="flex-1 font-medium text-right mr-4">60%</p>
                    </div>
                        <div class="mt-2 w-full bg-gray-300 rounded-full overflow-hidden">
                        <div class="bg-cyan-500 h-10 rounded-full" style="width: 60%;"></div>
                    </div>
                </div>
                <div>
                    <div class="flex">
                        <p class="flex-1 font-medium text-left ml-2">Teknik Mekatronika (35/60)</p>
                        <p class="flex-1 font-medium text-right mr-4">58%</p>
                    </div>
                        <div class="mt-2 w-full bg-gray-300 rounded-full overflow-hidden">
                        <div class="bg-green-500 h-10 rounded-full" style="width: 58%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function updateValue(val) {
            document.getElementById("slider-value").innerText = val;
        }
    </script>

</body>
</html>
